<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--RWC8k0aw--/c_scale,f_auto,fl_progressive,q_80,w_800/ccwa4jkpnbfwuffd7hfa.jpg"
            alt="The Onion Logo" width="100px">
        Scraper
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-ugh">

            <li class="nav-item p-2">
                <a class="nav-link savedOnionsLink" href="/savedOnions">Saved Onions</a>
            </li>
            <button type="button" class="btn btn-outline-success btn-sm">
                <li class="nav-item">
                    <a class="nav-link newOnionsLink" href="/newOnion">New Onion Scrape</a>
                </li>
            </button>


            <li class="nav-item p-2 visitOnionButton">
                <a class="nav-link visitOnion" href="https://www.theOnion.com">Visit the Onion</a>
            </li>
        </ul>
    </div>
</nav>

<br><br><br>

<div class="jumbotron jumbo-scrapes">
    <h1 class="display-4">Your Scraped Articles</h1>
    <hr class="my-4">
    <p>Start scraping to view articles from The Onion website!</p>

</div>